<h1>Stock Details NSE</h1>

<p>Stock Info :{{stockInfo}}</p>
<p>Stock Number: {{stockNumber}}</p>
<ul>
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.id}}</span> <input type="text" *ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.id></li> 
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.stockName}}</span><input type="text"*ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.stockName></li> 
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.stockMarketCap}}</span><input type="text" *ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.stockMarketCap></li> 
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.stockMSector}}</span><input type="text" *ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.stockMSector></li>
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.releaseDate}}</span><input type="text" *ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.releaseDate></li>
    <li><span *ngIf="!isEditStockButtonClicked">{{stockdetail.symbol}}</span><input type="text" *ngIf="isEditStockButtonClicked" [(ngModel)]=stockdetail.symbol></li>
</ul>
<button class="btn btn-success"  (click)="editStock()">Edit Stock</button>
<button class="btn btn-danger" (click)="updateStock()">Update Stock</button>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">StockName</th>
        <th scope="col">StockMarketCap</th>
        <th scope="col">StockMSector</th>
        <th scope="col">ReleaseDate</th>
        <th scope="col">Symbol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockDetails">
        <td>{{stock.id}}</td>
        <td>{{stock.stockName}}</td>
        <td>{{stock.stockMarketCap}}</td>
        <td>{{stock.stockMSector}}</td>
        <td>{{stock.releaseDate}}</td>
        <td>{{stock.symbol}}</td>
      </tr>
    </tbody>
  </table> 